service mysqlchk
{
    flags = REUSE
    socket_type = stream
    port = {{port_check}}
    wait = no
    user = nobody
    server = /usr/local/bin/replicationcheck
    log_on_failure += USERID
    disable = no
    only_from = 0.0.0.0/0
    per_source = UNLIMITED
}
