bind {{ ansible_default_ipv4.address }} 127.0.0.1
port {{ port_master }}
pidfile /var/run/redis_{{ port_master }}.pid
unixsocket /var/run/redis_{{ port_master }}.sock
unixsocketperm 755
loglevel notice
logfile {{ dir_log }}/redis_{{ port_master }}.log
dbfilename dump.rdb
dir {{ dir_data }}/{{ port_master }}
appendonly yes

cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
